.container .profile-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;  
  }
  
  .container .profile-data .info {
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #ccc;
    margin-top: 0;
  }
  
  .container .profile-data .info .data{
    padding: 40px;
    width: 50%;
  }
  
  .container .profile-data .info .profile-link {
    margin-top: 43px;
    width: 50%;
  }
  
  .container .profile-data .info .profile-link img{
    width: 100%;
    border-radius: 50%;
    border: 10px solid #333;
  }
  
  .container .profile-data .info h1{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .container .profile-data .info p{
    font-size: 15px;  
    font-weight: 400;
    line-height: 23px;
  }
  
  .container .profile-data .info .followers-data {
    display: flex;
    flex-flow: row wrap;
    margin: 26px auto 0 auto;
  }
  
  .container .profile-data .info .followers-data div {
    background: rgba( 64, 120, 192, 0.25 );
    backdrop-filter: blur( 3px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    padding: 20px;
    -webkit-backdrop-filter: blur( 3px );
    transition: 0.2s ease-in-out;
  }
  
  .container .profile-data .info .followers-data i {
    color: #333;
  }
  
  .container .profile-data .info .followers-data .followers {
    margin-right: 5px;
  }
  
  .container .profile-data.hide{
    display: none;
  }