@media (max-width: 1280px) {
    .container {
      flex-direction: column;
      width: 90%;
      border-radius: 20px;
    }
  
    .container header {
      width: 100%;
    }
  
    .container header h1 {
      font-size: 24px;
      text-align: center;
    }
  }
  
  @media (max-width: 768px) {
    .container header #input-search,
    .container header #btn-search
    {
      width: 100%;
    }
  }

  @media (max-width: 532px) {
    .container .profile-data .info .followers-data {
      margin: 26px auto 0 auto;
      justify-content: center;
      text-align: center;
    }

    .container .profile-data .info .followers-data div {
      flex-basis: 20px;
    }

    .container .profile-data .info .followers-data .following {
      padding: 20px 26px;
    }
  }

  @media (max-width: 433px) {
    .container .profile-data .info .followers-data .followers {
      margin-bottom: 5px;
    }
  }
  
  @media (max-width: 425px) {
    main {
      padding: 15% 0;    
    }
  
    .container .profile-data .info img{
      margin-bottom: 20px;
    }
  
    .container .profile-data .info img,
    .container .profile-data .info .data
    {
      width: 100%;
      padding: 0;
    }
  }